<div>
  <h3>Add Post</h3>
  <div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="my-2">
        <label for="">title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="my-2">
        <label for="">description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <div class="my-2">
        <label for="">Category</label>
        <select class="form-control" formControlName="categoryId">
          <option value="">select category</option>
          <option [value]="category.id" *ngFor="let category of categories$ | async">{{category.title}}</option>
        </select>
      </div>
      <div class="my-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>